header {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--secondaryColor);
}

#header-interest-form {
  width: 100%;
  padding: .5% 25%;
  display: flex;
  flex-direction: row;
  gap: 3%;
  background-color: var(--themeColor);
}

#header-interest-form p {
  margin: 0;
  padding: 1% 0;
  font-size: 1.3vw;
}

#header-interest-form a {
  margin: 0;
  font-size: 1.3vw;
  color: var(--mainTextColor);
  border: 1px solid var(--mainTextColor);
  border-radius: 5px;
  padding: .9% 1% 1%;
  text-decoration: none;
}

#header-interest-form a:hover {
  backdrop-filter: brightness(1.15);
}

#x-button {
  color: var(--mainTextColor);
  background: transparent;
  border: none;
  font-size: 1.3vw;
  position: absolute;
  top: 8%;
  right: 1%;
  cursor: pointer;
  font-family: Arial, serif;
}

#x-button:hover {
  transform: rotate(180deg);
}


#header-inner {
  padding: 1.8% 0% 1.5%;
}

.header-item {
  text-align: center;
  font-size: 1.6vw;
  color: var(--mainTextColor);
  text-decoration: none;
  display: inline-block;
  width: 15%;
  padding: 0;
  margin: 0;
}

.header-item:hover {
  color: var(--themeColor);
}

.header-underline {
  height: .2vw;
  width: 15%;
  background: var(--themeColor);
  border: none;
  transition: .3s ease-in-out;
}

#logo {
  display: none;
  visibility: hidden;
}

#home-underline {
  margin: .5% 0;
}

#about-underline {
  margin: .5% 16%;
}

#sponsors-underline {
  margin: .5% 32%;
}

#robots-underline {
  margin: .5% 48%;
}

#competitions-underline {
  margin: .5% 64%;
}

#outreach-underline {
  margin: .5% 80%
}

.one:hover ~ hr {
  margin-left: 0!important;
}

.two:hover ~ hr {
  margin-left: 16%!important;
}

.three:hover ~ hr {
  margin-left: 32%!important;
}

.four:hover ~ hr {
  margin-left: 48%!important;
}

.five:hover ~ hr {
  margin-left: 64%!important;
}

.six:hover ~ hr {
  margin-left: 80%!important;
}

#main-nav-toggle {
  display: none;
  width: 100%;
  height: 100%;
}

/* Header looks weird at higher resolutions, this attempts to fix it */
@media (min-width: 2000px) {
  #home-underline {
    margin: .5% 0;
  }

  #about-underline {
    margin: .5% 16%;
  }

  #sponsors-underline {
    margin: .5% 32%;
  }

  #robots-underline {
    margin: .5% 48%;
  }

  #competitions-underline {
    margin: .5% 64%;
  }

  #outreach-underline {
    margin: .5% 80%;
  }

  .one:hover ~ hr {
    margin-left: 0!important;
  }

  .two:hover ~ hr {
    margin-left: 16.5%!important;
  }

  .three:hover ~ hr {
    margin-left: 33%!important;
  }

  .four:hover ~ hr {
    margin-left: 49.5%!important;
  }

  .five:hover ~ hr {
    margin-left: 66%!important;
  }
  
  .six:hover ~ hr {
  margin-left: 82.5%!important;
  }

}

@media (max-width: 1100px) {
  .header-underline, #header-interest-form, #x-button {
    display: none;
    visibility: hidden;
  }

  #logo {
    display: block;
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 40px;
    height: 40px;
  }

  #header-inner {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 6% 0%;
  }

  .main-nav-button-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .main-nav-button {
    display: block;
    background-color: var(--mainTextColor);
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  #main-nav-toggle ~ #header-inner a {
    display: none;
  }

  #main-nav-toggle:checked + .main-nav-button-container #top-nav-button {
    transform: rotate(405deg);
    position: absolute;
    top: calc(50% - 2px);
  }

  #main-nav-toggle:checked + .main-nav-button-container #mid-nav-button {
    background: rgba(255, 255, 255, 0);
    height: 0;
  }

  #main-nav-toggle:checked + .main-nav-button-container #bot-nav-button {
    transform: rotate(-405deg);
    position: absolute;
    top: calc(50% - 2px);
  }

  #main-nav-toggle:checked ~ #header-inner a {
    display: block;
  }

  .header-item {
    font-size: 6vw;
    width: 100%;
  }

}
