header {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--secondaryColor);
}

#header-interest-form {
  width: 100%;
  padding: .5% 25%;
  display: flex;
  flex-direction: row;
  gap: 3%;
  background-color: var(--themeColor);
}

#header-interest-form p {
  margin: 0;
  padding: 1% 0;
  font-size: 1.3vw;
}

#header-interest-form a {
  margin: 0;
  font-size: 1.3vw;
  color: var(--mainTextColor);
  border: 1px solid var(--mainTextColor);
  border-radius: 5px;
  padding: .9% 1% 1%;
  text-decoration: none;
}

#header-interest-form a:hover {
  backdrop-filter: brightness(1.15);
}

#x-button {
  color: var(--mainTextColor);
  background: transparent;
  border: none;
  font-size: 1.3vw;
  position: absolute;
  top: 8%;
  right: 1%;
  cursor: pointer;
}

#x-button:hover {
  transform: rotate(180deg);
}

#header-inner {
  padding: 1.8% 20% 1.5%;
}

.header-item {
  text-align: center;
  font-size: 160%;
  color: var(--mainTextColor);
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  padding: 0;
  margin: 0;
}

.header-item:hover {
  color: var(--themeColor);
}

.header-underline {
  height: .2vw;
  width: 19.5%;
  background: var(--themeColor);
  border: none;
  transition: .3s ease-in-out;
}

#home-underline {
  margin: .5% 0;
}

#about-underline {
  margin: .5% 20%;
}

#sponsors-underline {
  margin: .5% 40%;
}

#robots-underline {
  margin: .5% 60%;
}

.one:hover ~ hr {
  margin-left: 0!important;
}

.two:hover ~ hr {
  margin-left: 20%!important;
}

.three:hover ~ hr {
  margin-left: 40%!important;;
}

.four:hover ~ hr {
  margin-left: 60%!important;;
}

.five:hover ~ hr {
  margin-left: 80%!important;;
}