:root {
  --mainColor: #0f0f0f;
  --secondaryColor: #181818;
  --tertiaryColor: #b8b8b8;
  --quaternaryColor: dimgrey;
  --themeColor: #FB9106;
  --secondaryThemeColor: #EEC75B;
  --tertiaryThemeColor: #FED8AA;
  --blendedColor: #F1AE3D;
  --filterColor: -50deg;

  --mainTextColor: white;

  --mainFont: 'Roboto', sans-serif;
  --secondaryFont: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}


* {
  box-sizing: border-box;
  transition: .5s;
  outline: none;
}

html, body {
  padding: 0;
  margin: auto;
  font-family: var(--mainFont);
  background-color: var(--mainColor);
}

h1 {
  color: var(--mainTextColor);
  font-size: 6.5vw;
  margin: 0;
}

h2 {
  color: var(--tertiaryThemeColor);
  font-size: 4.5vw;
  margin-bottom: 2%;
}

p {
  color: var(--mainTextColor);
  font-size: 1.8vw;
  font-weight: 300;
}

span {
  color: var(--tertiaryThemeColor);
  font-size: 1.8vw;
  font-weight: 500;
}

li {
  color: var(--mainTextColor);
  font-size: 1.8vw;
  font-weight: 300;
}

.divider-line {
  background: var(--themeColor);
  margin: 3% 8%;
  height: .3vw;
  border: 0 ;
}

#greeting-section {
  width: 100%;
}

#greeting-container {
  padding: 9% 10% 0;
  text-align: center;
}

#greeting-container img {
  width: 37%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#robot-section {
  width: 100%;
}

#robot-container {
  padding: 0 10% 2%;
}

#robot-container .text-image-div {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5%;
}

.text-image-div img {
  width: 100%;
  margin-top: 10%;
}

#team-section {
  width: 100%;
}

#team-container {
  padding: 0 10%;
}

#team-container h2 {
  text-align: right;
}

#team-container .text-image-div {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 7%;
}

#team-container .text-image-div img, p {
  margin-top: 0;
}

#video-section {
  width: 100%;
}

#video-container {
  padding: 0 10% 4%;
}

#videos-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}
