:root {
  --mainColor: #0f0f0f;
  --secondaryColor: #181818;
  --tertiaryColor: #b8b8b8;
  --quaternaryColor: dimgrey;
  --themeColor: #FB9106;
  --secondaryThemeColor: #EEC75B;
  --tertiaryThemeColor: #FED8AA;
  --blendedColor: #F1AE3D;
  --filterColor: -50deg;

  --mainTextColor: white;

  --mainFont: 'Roboto', sans-serif;
  --secondaryFont: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}


* {
  box-sizing: border-box;
  transition: .5s;
  outline: none;
}

html, body {
  padding: 0;
  margin: auto;
  font-family: var(--mainFont);
  background-color: var(--mainColor);
}

h1, h1 span {
  color: var(--mainTextColor);
  font-size: 6.5vw;
  font-weight: 600;
  margin: 0;
}

h2 {
  color: var(--tertiaryThemeColor);
  font-size: 4.5vw;
  margin-bottom: 2%;
}

h3 {
  color: var(--mainTextColor);
  font-size: 3vw;
  margin: 0;
}

p {
  color: var(--mainTextColor);
  font-size: 1.8vw;
  font-weight: 300;
}

span {
  color: var(--tertiaryThemeColor);
  font-size: 1.8vw;
  font-weight: 500;
}

li {
  color: var(--mainTextColor);
  font-size: 1.8vw;
  font-weight: 300;
}

#team-name {
  padding-bottom: 2%;
}

.divider-line {
  background: var(--themeColor);
  margin: 3% 8%;
  height: .3vw;
  border: 0 ;
}

.button1 {
  font-size: 2vw;
  color: var(--mainTextColor);
  border: 2px solid var(--themeColor);
  border-radius: 6px;
  padding: 1.8%;
  text-decoration: none!important;
}

.button1:hover {
  background: var(--themeColor);
  color: var(--mainColor);
}

.url {
  color: var(--themeColor);
  font-weight: 500;
}

.url:hover {
  filter: brightness(1.25);
}

#greeting-section {
  width: 100%;
}

#greeting-container {
  padding: 9% 10% 0;
  text-align: center;
}

#greeting-container img {
  width: 37%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#robot-section {
  width: 100%;
}

#robot-container {
  padding: 0 10% 2%;
}

#robot-container .text-image-div {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5%;
}

.text-image-div img {
  width: 100%;
  margin-top: 10%;
}

.image-text-div img {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 4%!important;
}

#team-section {
  width: 100%;
}

#team-container {
  padding: 0 10%;
}

#team-container h2 {
  text-align: right;
}

#team-container .text-image-div {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 7%;
}

#team-container .text-image-div img, p {
  margin-top: 0;
}

#donate-section {
  width: 100%;
}

#donate-container {
  padding: 0 10% 4%;
}

#donate-container p {
  padding-bottom: 3%;
}

#video-section {
  width: 100%;
}

#video-container {
  padding: 0 10% 4%;
  text-align: center;
}

#videos-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
}

.page-section {
  width: 100%;
}

.page-container {
  padding: 9% 10% 5%;
}

.page-container h1 {
  text-align: center;
}

.page-container .text-image-div {
  display: grid;
  grid-template-columns: 1fr .8fr;
  gap: 5%;
  padding-top: 2%;
}

.page-container .text-image-div img {
  margin-top: 2.5%;
}

.page-container .image-text-div {
  display: grid;
  grid-template-columns: .8fr 1fr;
  gap: 5%;
  padding-top: 2%;
}

.page-container .image-text-div img {
  margin: 2.5% 0;
}

.page-container .divider-line {
  margin-left: -2%;
  margin-right: -2%;
}

.page-container h2 {
  margin: 0 0 2%;
}

.page-container p, ul {
  text-align: left;
}

.image-row {
  display: flex;
  flex-direction: row;
  gap: 10%;
  padding: 2.5% 0;
}

.competitions-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5%;
  justify-content: space-between;
}

.competitions-container-mobile {
  display: none;
}

.competitions-container-mobile {
  padding-top: 6vw;
  padding-bottom: 2vw;
}

.competitions-text-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2.5%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.competitions-text-div h3 {
  margin: 0;
  padding: 0 10% 10%;
}

.competitions-text-div p {
  margin-top: 0;
  text-align: center!important;
}

.competitions-text-div a {
  color: var(--themeColor);
  font-size: 1.5vw;
  transition: .5s;
  text-decoration: underline;
}

.competitions-text-div a:hover {
  filter: brightness(1.25);
}

.competitions-image-div {
  width: 50%;
  padding: 2.5%;
}

.competitions-date {
  color: var(--tertiaryColor);
}

.article-container {
  padding: 12% 24% 5%;
}

.article-container h2 {
  margin: 0;
}

.article-container p {
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: lighter;
  margin-bottom: 1%;
}

.article-title {
  font-size: 5vw;
  padding-bottom: 1.5%;
}

.article-container .button1 {
  margin-top: 1%;
  display: inline-block;
}

@media (max-width: 820px) {

  h1, h1 span {
    font-size: 15vw;
    font-weight: 600;
  }

  h2 {
    font-size: 9vw;
    margin: 1vw 0;
  }

  p {
    font-size: 5vw;
    margin: 5vw 0;
  }

  span {
    font-size: 5vw;
  }

  li {
    font-size: 5vw;
  }

  .button1 {
    font-size: 5vw;
  }

  .competitions-container {
    display: none;
  }

  .competitions-container-mobile {
    display: block;
  }

  .competitions-text-div {
    width: 100%;
  }

  .competitions-text-div h3 {
    padding: 0 0 1.5vw;
    font-size: 7vw;
  }

  .competitions-text-div a {
    font-size: 4vw;
  }

  .article-container {
    padding: 20vw 10% 10%;
  }

  #greeting-section, .page-section {
    margin-top: 60px;
  }

  .page-container {
    padding-top: 5vw;
  }

  #greeting-container img {
    width: 50%;
  }

  .text-image-div, .image-text-div   {
    display: block!important;
  }

  .text-image-div img {
    margin: 0;
  }

  #team-container h2 {
    text-align: left;
    margin-bottom: 3vw;
  }

  #videos-div {
    display: block!important;
  }

  .page-container h2 {
    margin: 0;
  }

  .page-container .text-image-div img {
    margin: 0 0 3vw;
  }

  .article-container p {
    margin: 5vw 0;
  }

}